[submodule "cerbero.gstreamer"]
	path = cerbero.gstreamer
	url = git@github.com:Mingyiz/cerbero.git
[submodule "cerbero.hacks"]
	path = cerbero.hacks
	url  = git@github.com:Mingyiz/cerbero.hacks.git
[submodule "cerbero.ribbon"]
	path = cerbero.ribbon
	url = git@github.com:Mingyiz/cerbero.ribbon.git
